.header {
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 16px;
}

.logoArea {
	display: flex;
	align-items: center;
}

.logo {
	height: 96px;
	width: auto;
	display: block;
}

@media (max-width: 768px) {
	.header {
		height: 96px;
		padding-inline: 12px;
	}

	.logo {
		height: 68px;
	}
}
